{% extends "@WebShop/base.html.twig" %}

{% block main_title %}Register{% endblock %}

{% block main %}
    {{ form_start(register_form) }}

    {{ form_row(register_form.email) }}
    {{ form_row(register_form.fullName) }}
    {{ form_row(register_form.plainPassword.first, {
        label: "Password"
    }) }}
    {{ form_row(register_form.plainPassword.second, {
        label: "Repeat Password"
    }) }}

    <button class="btn btn-primary" formnovalidate>Register <span class="glyphicon glyphicon-arrow-right"></span></button>

    {{ form_end(register_form) }}
{% endblock %}