{% if is_granted("ROLE_EDITOR") %}
    <nav class="nav nav-tabs hidden-xs">
        <ul class="nav navbar-nav">
            {% block nav_admin %}
                <li><a href="{{ path("admin_list_products") }}">Edit Products</a></li>
                <li><a href="{{ path("admin_list_categories") }}">Edit Categories</a></li>
                <li><a href="{{ path('admin_list_promotions') }}">Edit Promotions</a></li>
                <li><a href="{{ path('admin_list_orders') }}">Edit Orders</a></li>
                {% if is_granted("ROLE_ADMIN") %}
                    <li><a href="{{ path("admin_list_users") }}">Edit Users</a></li>
                {% endif %}
            {% endblock %}
        </ul>
    </nav>
{% endif %}