<div class="thumbnail">
    <img src="{{ vich_uploader_asset(product, "imageFile") }}" alt="{{ product.name }}">
    <div class="caption">
        <h3>{{ product.name }}</h3>
        <p><strong>Quantity available: {{ product.quantity }}</strong></p>
        <p>{{ product.description }}</p>
        {% if product.hasActivePromotion %}
            <div class=""><strong>Promotion: {{ product.actualPromotion }}</strong></div>
            <div class="h4">
                <span class="text-danger"><s>{{ product.originalPrice }}</s></span>
            </div>
        {% endif %}
        <div class="h3">
            <span class="label label-success">€{{ product.price|number_format(2) }}</span>
        </div>

        {% if product.seller %}
            <hr>
            <p class="bg-success img-rounded text-center">Seller: {{ product.seller.fullName }}</p>
        {% endif %}
        <hr>
        <p class="text">
        <form method="post" action="{{ path("user_cart_add", {"id": product.id}) }}"
              style="display: inline-block">
            <button class="btn btn-primary" type="submit"><span
                        class="glyphicon glyphicon-shopping-cart"></span> Add to Cart
            </button>
        </form>
        <a href="{{ path("products_view_product", {"slug": product.slug}) }}" class="btn btn-default"
           role="button">Details</a>
        </p>
    </div>
</div>