{% extends '@WebShop/base.html.twig' %}

{% block main_title %}Promotions{% endblock %}

{% block main %}
    <div class="text-right">
        <a href="{{ path("admin_add_promotion") }}" class="btn btn-success">Add new promotion <span
                    class="glyphicon glyphicon-plus-sign"></span></a>
        <hr>
        <a href="{{ path("admin_add_promotion_to_category") }}" class="btn btn-default">Set promotion to category <span
                    class="glyphicon glyphicon-plus-sign"></span></a>
        <a href="{{ path("admin_add_promotion_to_all_products") }}" class="btn btn-default">Set promotion to Products
            <span
                    class="glyphicon glyphicon-plus-sign"></span></a>
        <a href="{{ path("admin_remove_promotion_to_all_products") }}" class="btn btn-danger">Unset promotion to
            Products <span
                    class="glyphicon glyphicon-exclamation-sign"></span></a>
    </div>
    <hr>
    {% if promotions|length > 0 %}
        <table class="table table-responsive table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(promotions, '#id', 'promotion.id') }}</th>
                <th>{{ knp_pagination_sortable(promotions, 'Name', 'promotion.name') }}</th>
                <th>{{ knp_pagination_sortable(promotions, 'Discount', 'promotion.discount') }}</th>
                <th>{{ knp_pagination_sortable(promotions, 'Start Date', 'promotion.startDate') }}</th>
                <th>{{ knp_pagination_sortable(promotions, 'End Date', 'promotion.endDate') }}</th>
                <th>Products</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for promo in promotions %}
                <tr>
                    <td>{{ promo.id }}</td>
                    <td>
                        {{ promo.name }}
                        {% if promo.startDate > date('now') %}
                            <span class="label label-warning">scheduled</span>
                        {% endif %}
                    </td>
                    <td>{{ promo.discount }}%</td>
                    <td>{{ promo.startDate|date }}</td>
                    <td>{{ promo.endDate|date }}</td>
                    <td>{{ promo.productsWithActivePromo|length }}</td>
                    <td>
                        <a href="{{ path("admin_edit_promotion", {"id": promo.id}) }}" class="btn btn-warning">Edit</a>
                    </td>
                    <td>
                        <form action="{{ path("admin_delete_promotion", {"id": promo.id}) }}" method="post">
                            <button class="btn btn-danger delete-item" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(promotions) }}
        </div>
    {% else %}
        <p>No promotions yet. Go add some ;)</p>
    {% endif %}
{% endblock %}

