{% extends "@WebShop/base.html.twig" %}

{% block main_title %}{{ product.name }}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="{{ vich_uploader_asset(product, "imageFile") }}" alt="{{ product.name }}">
            </div>
        </div>
        <div class="col-md-8">
            <h2>Description:</h2>
            <p>{{ product.description }}</p>
            <p>Category: <a href="{{ path("products_by_category", {"slug": category_slug}) }}">{{ product.category }}</a>
            </p>
            <p>In stock: <strong>{{ product.quantity }}</strong></p>
            <div class="h2">
                Price:
                <span class="label label-success">€{{ product.price }}</span>
            </div>
            <hr>
            <form method="post" action="{{ path("user_cart_add", {"id": product.id}) }}"
                  style="display: inline-block">
                <button class="btn btn-primary" type="submit"><span
                            class="glyphicon glyphicon-shopping-cart"></span> Add to Cart
                </button>
            </form>
        </div>
    </div>
    <hr>
    <p class="h3">Reviews:</p>
    {% if reviews|length > 0 %}
        {% for review in reviews %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <strong>{{ review.user.fullName }} ({{ review.user.email }})</strong>
                    Rating: {{ review.rating|starRating|raw }}
                </div>
                <div class="panel-body">
                    {{ review.text }}
                </div>
                <div class="panel-footer">
                    Posted on: {{ review.date|date }}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No reviews for this product yet. Be the first: <a
                    href="{{ path("products_add_review", {"id": product.id}) }}">Leave review</a></p>
    {% endif %}
    <a href="{{ path("products_add_review", {"id": product.id}) }}" class="btn btn-success">Add review</a>
{% endblock %}