{% extends '@WebShop/base.html.twig' %}

{% block main_title %}Orders{% endblock %}

{% block main %}
    {% if orders|length > 0 %}
        <table class="table table-responsive table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(orders, 'Date', 'products_order.date') }}</th>
                <th>User</th>
                <th>{{ knp_pagination_sortable(orders, 'Total', 'products_order.total') }}</th>
                <th>Products</th>
                <th>{{ knp_pagination_sortable(orders, 'Status', 'products_order.verified') }}</th>
                <th>Complete</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.date|date }}</td>
                    <td>{{ order.user.fullName }}</td>
                    <td>€{{ order.total|number_format(2) }}</td>
                    <td>{{ order.products|join("\n") }}</td>
                    <td>{{ order.verified ? "Completed" : "Pending" }}</td>
                    <td>
                        {% if not order.verified %}
                        <form action="{{ path("admin_verify_order", {"id": order.id}) }}" method="post">
                            <button class="btn btn-success" type="submit">Complete</button>
                        </form>
                        {% else %}
                            <button class="btn btn-default disabled">Complete</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(orders) }}
        </div>
    {% else %}
        <p>No orders yet. Why not create one by yourself? :)</p>
    {% endif %}
{% endblock %}

